.underlined-text {
  .underlined-text-container {
    display: inline-block;

    .line {
      float: right;
      margin-top: -23px;
      z-index: -10;

      background: #FFE55F;
      border-radius: 6px;
      width: 100%;
      height: 25px;
    }
  }
}