@import "../../styles/mixins.scss";

.text-about {
    background: var(--main-gradient);

    .text-about__wrap {
        display: flex;
        flex-direction: column;
        padding-top: var(--large-bottom-indent);

        .text-about__title {
            font-size: var(--h2-font-size);
            font-family: var(--second-font);
            align-self: center;
            color: var(--second-text-color);
            margin-bottom: var(--small-bottom-indent);
        }

        .text {
            font-size: var(--h3-font-size);
            color: var(--second-text-color);
            @include mobile {
                text-align: center;
            }
        }

        .text-about-texts {
            display: flex;
            margin-bottom: var(--large-bottom-indent);

            @include mobile {
                flex-direction: column;
            }

            .text-about__first-text {
                margin-right: var(--small-right-indent);

                @include mobile {
                    margin: 0;
                }
            }
        }
    }
}
