@import "../../styles/mixins.scss";

.overview {
    background: var(--main-gradient);

    .overview__wrap {
        display: grid;
        grid-template-columns: 5fr 3fr;
        grid-gap: var(--small-right-indent);
        align-items: flex-start;

        .overview__title {
            font-family: var(--second-font);
            font-weight: 700;
            margin-bottom: var(--small-bottom-indent);
            color: var(--second-text-color);
            font-size: var(--h4-font-size);
        }

        .overview__text {
            margin-bottom: var(--small-bottom-indent);
            color: var(--second-text-color);
            font-size: var(--h4-font-size);
        }

        .overview__chart {
            position: relative;
            padding-top: var(--small-bottom-indent);
            background: var(--second-background);
            border-radius: var(--common-border-radius);

            .chart__chart-title {
                font-size: var(--h5-font-size);
                font-weight: 700;
                margin-bottom: 8px;
                padding-left: 25px;
            }

            .chart__chart-paragraph {
                color: var(--mark-color);
                font-size: var(--h6-font-size);
                font-weight: bold;
                padding-left: 25px;
                span {
                    color: var(--third-text-color);
                    font-weight: bold;
                }
            }
        }

        .overview__text-wrap {
            display: flex;
            flex-direction: column;
        }
    }
}

.tablet-overview {
    .overview__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 0;

        @include mobile {
            padding-left: 0;
            padding-right: 0;
        }

        .overview__title {
            // common padding for mobile
            padding: 0 15px;
            font-size: var(--h2-font-size);
            text-align: center;
        }

        .overview__text {
            // common padding for mobile
            padding: 0 15px;
            text-align: center;
            font-size: var(--h3-font-size);
        }

        .overview__chart-container {
            display: flex;
            align-self: stretch;
            flex-direction: column;
            align-items: center;

            .overview__chart {
                width: 100%;
                margin-bottom: var(--large-bottom-indent);
            }

            :last-child {
                align-self: center;
            }
        }
    }
}
