@import "../../styles/mixins.scss";

.main-header {
  background: var(--main-gradient);
  color: var(--second-text-color);

  .main-header__container {
    padding-top: var(--small-bottom-indent);
    padding-bottom: var(--small-bottom-indent);
    // padding: var(--small-bottom-indent) 250px;

    // .main-header__controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: var(--small-bottom-indent);
    // @include laptop {
    //   margin: 0;
    // }

    .main-header__logo-wrap {
      max-width: 90px;
      margin-right: var(--large-right-indent);
      // size delete
      font-size: 26px;

      .main-header__link-to-home {
        color: white;
      }

      @include mobile {
        max-width: 70px;
        // size delete
        font-size: 26px;
      }

      .logo-img {
        width: 100%;
      }
    }

    .MuiSelect-root {
      &::before {
        border-bottom: none;
        content: none;
      }
      &::after {
        border-bottom: none;
      }
    }

    .MuiSelect-standard {
      background: var(--second-background);
      border-radius: var(--common-border-radius);
      padding: 8px;
      font-family: var(--regular-font);
      font-weight: 700;
    }

    // .main-header__languages-list {
    //   display: flex;

    //   .languages-list__language {
    //     font-size: var(--h4-font-size);

    //     &:hover {
    //       filter: brightness(30%);
    //       cursor: pointer;
    //     }

    //     &.active {
    //       filter: brightness(30%);
    //     }
    //   }

    //   :not(:last-child) {
    //     margin-right: var(--midle-right-indent);
    //   }
    // }

    .main-header__hamburger-menu-wrap {
      min-width: 26px;

      .main-header__hamburger-menu {
        #menu__toggle {
          display: none;

          &:checked ~ .menu__btn > span {
            transform: rotate(45deg);
          }

          &:checked ~ .menu__btn > span::before {
            top: 0;
            transform: rotate(0);
            background-color: var(--first-background);
          }

          &:checked ~ .menu__btn > span::after {
            top: 0;
            transform: rotate(90deg);
            background-color: var(--first-background);
          }

          &:checked ~ .menu__box {
            visibility: visible;
            right: 0px;
          }

          &:checked ~ .menu__btn {
            position: absolute;
            top: var(--small-bottom-indent);
            right: var(--small-right-indent);
          }
        }

        .menu__btn {
          display: flex;
          align-items: center;
          position: relative;
          top: 0;
          right: 0;
          width: 26px;
          height: 26px;
          cursor: pointer;
          z-index: 1001;

          & > span,
          & > span::before,
          & > span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: var(--second-background);
            transition-duration: 0.25s;
          }

          & > span::before {
            content: "";
            top: -8px;
          }

          & > span::after {
            content: "";
            top: 8px;
          }
        }

        .menu__box {
          text-align: center;
          position: absolute;
          visibility: hidden;
          top: 0;
          right: 0;
          width: 300px;
          border-radius: 0 0 0 var(--common-border-radius);
          padding: 60px 30px 30px 30px;
          background-color: var(--second-background);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          z-index: 1000;

          @include mobile {
            width: 100%;
            box-sizing: border-box;
            border-radius: 0;
          }
        }
      }
    }
    // }

    .menu__item {
      display: block;
      padding: 12px 24px;

      color: #333;

      font-family: "Roboto", sans-serif;
      font-size: 20px;
      font-weight: 600;

      text-decoration: none;
    }
    .menu__item:hover {
      background-color: #cfd8dc;
    }
  }
}
