@import "../../styles/mixins.scss";

.description {
  .description__wrap {
    .description__title {
      text-align: center;
      font-size: var(--h2-font-size);
      font-weight: 700;
      margin-bottom: var(--small-bottom-indent);
      font-family: var(--second-font);
    }

    .description__paragraph {
      font-size: var(--h3-font-size);
      text-align: center;
      margin-bottom: var(--midle-bottom-indent);

      // @include mobile {
      //   padding: 0;
      // }
    }

    .description__activities {
      // display: flex;
      // justify-content: space-around;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 16px;

      // @include mobile {
      //   flex-direction: column;
      //   align-items: center;
      // }

      .description__activity {
        display: flex;
        flex-direction: column;
        align-items: center;
        // max-width: 540px;
        text-align: center;
        // margin-right: var(--small-right-indent);

        // @include mobile {
        //   margin: 0 0 var(--midle-bottom-indent) 0;
        // }

        // &:last-child {
        //   margin: 0;
        // }

        .activity__img-wrap {
          // display: flex;
          // align-items: center;
          // justify-content: center;
          // width: 184px;
          // height: 184px;
          width: 100%;
          // min-height: 50%;
          // border-radius: 50%;
          // border: solid 2px #000000;
          margin-bottom: var(--small-bottom-indent);

          .activity__img {
            // max-width: 100px;
            width: 50%;
          }

          // @include laptop {
          //   width: 140px;
          //   height: 140px;

          //   .activity__img {
          //     max-width: 64px;
          //   }
          // }

          // @include tablet {
          //   width: 100px;
          //   height: 100px;

          //   .activity__img {
          //     max-width: 50px;
          //   }
          // }
        }

        .activity__figcaption {
          font-family: var(--second-font);
          font-weight: 700;
          font-size: var(--h3-font-size);
          color: var(--third-text-color);
          // margin-bottom: var(--small-bottom-indent);

          // @include tablet {
          //   font-size: var(--h3-font-size);
          // }
        }

        // .activity__text {
        //     font-family: var(--third-font);
        //     font-size: var(--h4-font-size);
        // }
      }
    }
  }
}
