.page-controller {
  .page-controller__wrap {
    display: flex;
    justify-content: flex-end;
    padding-top: var(--small-bottom-indent);
    padding-bottom: 0;

    > :not(:last-child) {
      margin-right: var(--small-right-indent);
    }
  }
}
