// @import "../../styles/mixins.scss";

.main-header__navs-bar {
  display: flex;

  .navs-item {
    text-align: center;
    font-size: var(--h4-font-size);
    font-weight: 700;
    .react-link {
      color: var(--second-text-color);
    }

    &:hover {
      filter: brightness(30%);
      cursor: pointer;
    }
  }

  :not(:last-child) {
    margin-right: calc(var(--midle-right-indent) * 0.5);
  }
}

.mobile-navs {
  flex-direction: column;
  color: var(--first-text-color);
  margin-bottom: var(--small-bottom-indent);

  .navs-item {
    .react-link {
      color: var(--first-text-color);
    }
  }

  li:not(:last-child) {
    margin: 0;
    margin-bottom: var(--small-bottom-indent);
  }
}
