@import "../../styles/mixins.scss";

.project-card {
  margin: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 700px;

  .project-card__wrap {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    background: #353535;
    padding: var(--small-right-indent);
    color: var(--second-text-color);
    border-radius: calc(var(--common-border-radius) * 1.5);
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25),
      1px 5px 20px rgba(170, 170, 204, 0.5), 1px 0px 12px #ffffff;

    @include tablet {
      margin: 20px 10px;
    }

    .card__card-background {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 50%;
    }

    .card__stage {
      font-size: var(--h4-font-size);
      margin-bottom: var(--small-bottom-indent);
    }

    .card__project-name {
      font-family: var(--second-font);
      font-size: var(--h3-font-size);
      font-weight: 700;
      margin-bottom: var(--small-bottom-indent);
      text-align: center;
      z-index: 999;

      // @include tablet {
      //     font-size: var(--h2-font-size);
      // }
    }

    .card__main-project-information {
      display: flex;
      flex-direction: column;
      z-index: 999;
      font-size: var(--h4-font-size);
      margin-bottom: var(--small-bottom-indent);

      > li {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 10px;
        border-bottom: solid 1px var(--second-background);
        padding: 4px 0;

        :last-child {
          font-weight: 700;
          text-align: end;
          margin: 0;
        }
      }

      .card__project-capacity {
        .project-capacity__capacity {
          .project-capacity__value {
            font-size: var(--h3-font-size);
            font-weight: 700;
            color: #16fff6;
          }
        }
      }
    }

    .card__link-to-project {
      font-size: var(--h5-font-size);
      font-weight: 700;
      color: #16fff6;
      z-index: 999;
    }
  }

  .white-style {
    background: var(--second-background);
    color: var(--first-text-color);
    .card__main-project-information {
      > li {
        border-bottom: solid 1px var(--first-background);
      }

      .card__project-capacity {
        .project-capacity__capacity {
          .project-capacity__value {
            font-size: var(--h3-font-size);
            font-weight: 700;
            color: rgb(250, 2, 2);
          }
        }
      }
    }

    .card__link-to-project {
      color: var(--first-text-color);
    }
  }

  .list-layaut {
    // max-width: 700px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25),
      1px 5px 20px rgba(170, 170, 204, 0.5), 1px 0px 12px #ffffff;

    .card__card-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .card__main-project-information {
      flex-direction: row;
      z-index: 999;

      > li {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-gap: 10px;
        border-bottom: none;
        border-right: solid 1px var(--second-background);
        padding: 0 8px;
        text-align: center;
        width: 100%;

        .project-cost__cost,
        .project-capacity__capacity {
          display: flex;
          flex-direction: column;
        }

        :last-child {
          font-weight: 700;
          text-align: center;
          margin: 0;
          border-right: none;
        }
      }

      :last-child {
        border-right: none;
      }
    }

    .information__white-style {
      > li {
        border-right: solid 1px var(--first-background);
      }
    }
  }
}
