@import "../../styles/mixins.scss";

.more-information-button {
  align-self: flex-start;
  background: var(--first-background);
  border-radius: var(--common-border-radius);
  padding: var(--small-bottom-indent) var(--midle-right-indent);
  color: var(--second-text-color);
  font-family: var(--regular-font);
  font-size: var(--h4-font-size);
  font-weight: 700;
  cursor: pointer;
  border: none;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25),
    1px 5px 20px rgba(170, 170, 204, 0.5), 1px 0px 12px #ffffff;

  // @include tablet {
  //   padding: var(--small-bottom-indent) var(--small-right-indent);
  // }

  &:hover,
  &:active {
    background: var(--second-background);
    color: var(--first-text-color);
  }
}
