@import "../../styles/mixins.scss";

.filter-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background: var(--second-background);
  border-radius: var(--common-border-radius);
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  //temporarily
  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--first-background);
  }

  .MuiButton-text {
    color: var(--first-text-color);
  }

  .filter-form__container--first {
    .filter-form__input-label {
      color: var(--first-text-color);
    }
    > :not(:last-child) {
      margin-bottom: var(--small-bottom-indent);
    }
  }

  .filter-form__container--second {
    > :not(:last-child) {
      margin-bottom: var(--small-bottom-indent);
    }
    .filter-form__select-years {
      .select-years__title {
        font-weight: 700;
        font-size: var(--h5-font-size);
        margin-bottom: 5px;
      }
      .select-years__selects {
        display: flex;
        .select-years__yer-from {
          margin-right: var(--small-right-indent);
          flex: 1;
          > * {
            width: 100%;
          }
        }
        .select-years__year-to {
          flex: 1;
          > * {
            width: 100%;
          }
        }
      }
    }
  }
  .filter-form__additional-information {
    font-weight: 700;
    font-size: var(--h4-font-size);
    display: flex;
    flex-direction: column;

    .additional-information__number-of-projects {
      margin-bottom: 10px;
      .number-of-projects__text {
        margin-right: 5px;
      }

      .number-of-projects__value {
        color: var(--second-text-color);
        font-size: var(--h3-font-size);
        background: var(--first-background);
        border-radius: 5px;
        padding: 6px 10px;
      }
    }
    .additional-information__note {
      font-size: var(--h5-font-size);
      font-weight: 400;
    }
  }
  .filter-form__form-control {
    justify-self: end;
    align-self: flex-end;
  }
}
