@import "../../../node_modules/glider-js/glider.min.css";

.projects-slider {
    display: flex;
    flex-direction: column;
    align-items: center;

    .projects-slider__wrap {
        max-width: 1400px;
        box-sizing: border-box;
        position: relative;

        .projects-slider__title {
            text-align: center;
            font-size: var(--h2-font-size);
            font-family: var(--second-font);
            font-weight: 700;
            margin-bottom: var(--midle-bottom-indent);
        }

        .projects-slider__link-to-projects {
            position: absolute;
            right: var(--large-right-indent);
            bottom: var(--midle-bottom-indent);
        }
    }
}
