@import "../../styles/mixins.scss";

.industry-card {
  margin: 20px;
  display: flex;
  justify-content: center;

  .industry-card__wrap {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    background: #353535;
    padding: var(--small-right-indent);
    color: var(--second-text-color);
    border-radius: calc(var(--common-border-radius) * 1.5);
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25),
      1px 5px 20px rgba(170, 170, 204, 0.5), 1px 0px 12px #ffffff;

    @include tablet {
      margin: 20px 10px;
    }

    .card__card-background {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 50%;
    }

    .cart__tite {
      font-family: var(--second-font);
      font-size: var(--h3-font-size);
      font-weight: 700;
      margin-bottom: var(--small-bottom-indent);
      text-align: center;

      @include tablet {
        font-size: var(--h2-font-size);
      }
    }

    .card__domestic-market {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 999;

      .domestic-market__coommon-market {
        display: flex;
        flex-direction: column;

        .coommon-market__title {
          font-size: var(--h4-font-size);
          font-weight: 700;
          margin-bottom: 4px;
          text-align: center;
        }

        .coommon-market__value {
          align-self: center;
          font-size: var(--h2-font-size);
          margin-bottom: 8px;
          border-radius: var(--common-border-radius);
          padding: calc(var(--small-right-indent) * 0.5);
          font-weight: 700;
          background: var(--third-background);

          .coommon-value__measure {
            font-size: var(--h5-font-size);
          }
        }
      }

      .domestic-market__categories {
        align-self: stretch;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin-bottom: var(--small-bottom-indent);

        .domestic-market__import,
        .domestic-market__making {
          display: flex;
          flex-direction: column;
          align-items: center;

          .categories__categories-name {
            font-size: var(--h4-font-size);
            margin-bottom: 4px;
          }

          .categories__categories-value {
            font-size: var(--h3-font-size);
            font-weight: 500;
            margin-bottom: 4px;
            border-radius: var(--common-border-radius);
            padding: var(--small-right-indent);
            background: var(--third-background);
          }
        }
      }
    }

    .card__imported-goods {
      flex-direction: column;
      align-items: center;
      z-index: 999;

      .imported-goods__title {
        font-size: var(--h4-font-size);
        margin-bottom: 6px;
        font-weight: 700;
        text-align: center;
      }

      .imported-goods__goods {
        :not(:last-child) {
          margin-bottom: 4px;
        }

        .imported-goods__good {
          display: grid;
          grid-template-columns: 1fr auto;
          grid-gap: 10px;
          border-bottom: solid 1px var(--second-background);

          .imported-good__value {
            text-align: left;
          }
        }
      }
    }
  }

  .white-style {
    background: var(--second-background);
    color: var(--first-text-color);

    .card__domestic-market {
      .domestic-market__coommon-market {
        .coommon-market__value {
          background: var(--main-gradient);
          color: var(--second-text-color);
        }
      }

      .domestic-market__categories {
        .domestic-market__making {
          .categories__categories-value {
            background: var(--main-gradient);
            color: var(--second-text-color);
          }
        }
        .domestic-market__import {
          .categories__categories-value {
            background: var(--main-gradient);
            color: var(--second-text-color);
          }
        }
      }
    }

    .card__imported-goods {
      .imported-goods__goods {
        .imported-goods__good {
          border-bottom: solid 1px var(--first-background);
        }
      }
    }
  }

  .list-layaut {
    .card__card-background {
      top: 0;
      height: 100%;
    }

    .cart__tite {
      z-index: 999;
    }

    .card__domestic-market {
      flex-direction: row;
      justify-content: center;

      .domestic-market__coommon-market {
        align-self: flex-start;
        margin-right: var(--large-right-indent);
      }
    }

    .card__imported-goods {
      .imported-goods__title {
        margin-bottom: var(--midle-bottom-indent);
      }

      .imported-goods__goods {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-gap: 10px;

        .imported-goods__good {
          height: 100%;
          text-align: center;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr auto;
          grid-gap: 6px;
          border-bottom: none;
          border: dotted 1px var(--second-background);
          border-top: none;
          border-radius: 0 0 6px 6px;
          margin: 0;
          padding: 0 4px;

          .imported-good__name {
            margin: 0;
          }

          .imported-good__value {
            text-align: center;
          }
        }
      }
    }

    .imported-goods__white-style {
      .imported-goods__goods {
        .imported-goods__good {
          border: dotted 1px var(--first-background);
          border-top: none;
        }
      }
    }
  }
}
