@import "../../styles/mixins.scss";

.all-industries {
    .all-industries__wrap {
        .all-industries__industries {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
            grid-gap: var(--midle-right-indent);

            li > * {
                margin: 0;
            }
        }

        .list-layaut {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}
