.card-item {
    display: flex;
    align-items: center;

    .card-item__point {
        min-width: 22px;
        min-height: 22px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .card-item__movement {
        font-size: var(--h4-font-size);
        font-weight: 500;
        margin-right: 10px;
    }

    .card-item__text {
        max-width: 140px;
        font-size: var(--h6-font-size);
    }
}
