.partners {
    display: flex;
    flex-direction: column;
    padding: var(--large-bottom-indent) 0 var(--large-bottom-indent) 0;

    .partners__title {
        text-align: center;
        font-size: var(--h2-font-size);
        font-family: var(--second-font);
        font-weight: 700;
        margin-bottom: var(--midle-bottom-indent);
    }
}
