@import "../../../node_modules/glider-js/glider.min.css";

.glider-contain {
    .glider__card {
        background-color: #c4c4c4;
        max-width: 300px;
        min-height: 294px;
        border-radius: calc(var(--common-border-radius) * 1.5);
    }
}
