@import "../../styles/mixins.scss";

.investors-map {
  .investors-map__wrap {
    display: flex;
    flex-direction: column;
    position: relative;

    .investors-map__title {
      text-align: center;
      font-size: var(--h2-font-size);
      font-weight: 700;
      margin-bottom: var(--midle-bottom-indent);
      font-family: var(--second-font);
      max-width: 20em;
      align-self: center;
    }

    .investors-map__map-wrap {
      display: grid;
      //временно
      // grid-template-columns: 1fr 3fr;
      grid-template-columns: 1fr;
      grid-template-rows: 600px;
      grid-gap: var(--midle-right-indent);

      .investors-map__object-data {
        background: #c4c4c4;
        border-radius: var(--common-border-radius);
        min-height: 340px;
        align-self: center;
        //временно
        display: none;
      }

      .investors-map__map {
        border: solid 2px #c4c4c4;
        border-radius: var(--common-border-radius);
        overflow: hidden;

        .balloon-content {
          display: flex;
          flex-direction: column;
          & > * {
            text-decoration: none;
            font-family: var(--regular-font);
            font-size: var(--h4-font-size);
            color: var(--first-text-color);
            font-weight: 700;
          }

          & > *:not(:last-child) {
            margin-bottom: 6px;
          }
        }
      }
    }

    @include tablet {
      .investors-map__map-wrap {
        grid-template-columns: 1fr;
        grid-template-rows: auto 200px;

        .investors-map__object-data {
          background: #c4c4c4;
          border-radius: var(--common-border-radius);
          min-height: 100%;
          align-self: center;
          order: 2;
        }

        .investors-map__map {
          border: solid 2px #c4c4c4;
          border-radius: var(--common-border-radius);
          overflow: hidden;
          min-height: 400px;
        }
      }
    }

    .investors-map__link-to-map {
      position: absolute;
      right: var(--large-right-indent);
      bottom: 16px;
    }
  }
}
