$color: #FFFFFF;

.link-button {
  color: $color;

  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  text-decoration-line: underline;
  padding-bottom: 7px;

  user-select: none;
  cursor: pointer;


  &:hover {
    color: darken($color, 10)
  }

  &:active {
    color: lighten($color, 10)
  }
}