@import "../../styles/mixins.scss";

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: var(--small-right-indent);
    border-radius: calc(var(--common-border-radius) * 1.5);
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25),
        1px 5px 20px rgba(170, 170, 204, 0.5), 1px 0px 12px #ffffff;
    margin: 20px;
    @include tablet{
    margin: 20px 10px;
    }

    .card__card-background {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 50%;
    }

    .card__rating {
        display: flex;
        flex-direction: row;
        margin-bottom: var(--small-bottom-indent);

        & > * {
            margin-right: 5px;
        }

        & *:last-child {
            margin: 0;
        }

        .rating__star-wrap {
            max-width: 24px;
            height: 24px;

            .rating__star-img {
                width: 100%;
            }
        }

        // .rating__star:checked + label {;
        // }
    }

    .cart__tite {
        font-size: var(--h2-font-size);
        font-weight: 700;
        margin-bottom: var(--small-bottom-indent);

        @include tablet{
       font-size: var(--h3-font-size);
         }
    }

    .card__movement-wrap {
        border-radius: 5px;
        align-self: start;
        margin-bottom: var(--small-bottom-indent);

        .card__movement {
            font-size: var(--h2-font-size);
            font-weight: 700;
            padding: 8px 4px;
            @include tablet{
                font-size: var(--h3-font-size);
                }
        }
    }

    & > .card-item {
        margin-bottom: var(--small-bottom-indent);
    }

    & > .card-item:last-child {
        margin: 0;
    }
}
