@import "./styles/mixins.scss";

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  --large-bottom-indent: 80px;
  --midle-bottom-indent: calc(var(--large-bottom-indent) / 2);
  --small-bottom-indent: calc(var(--large-bottom-indent) / 4);

  @include laptop {
    --large-bottom-indent: 60px;
  }

  @include tablet {
    --large-bottom-indent: 40px;
  }

  @include mobile {
    --large-bottom-indent: 20px;
  }

  --large-right-indent: 80px;
  --midle-right-indent: calc(var(--large-right-indent) / 2);
  --small-right-indent: calc(var(--large-right-indent) / 4);

  @include laptop {
    --large-right-indent: 40px;
  }

  @include tablet {
    --large-right-indent: 20px;
  }

  --first-background: #022f2c;
  --second-background: #f8f8f8;
  --third-background: #368b85;

  --main-gradient: linear-gradient(242.92deg, #23678d 11.31%, #368b85 37.47%, rgba(19, 201, 92, 0.57) 89.45%);

  --first-text-color: #022f2c;
  --second-text-color: #ffffff;
  --third-text-color: #368b85;
  --mark-color: #cbd5e0;

  --common-border-radius: 8px;

  --regular-font: Rubik, sans-serif;
  --second-font: Montserrat, sans-serif;
  --third-font: "Open Sans", sans-serif;

  // --fourth-font: Montserrat, sans-serif;
  // заменить на  helvetica

  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --h4-font-size: 16px;
  --h5-font-size: 12px;
  --h6-font-size: 10px;

  @include laptop {
    --h2-font-size: 30px;
    --h3-font-size: 22px;
    --h4-font-size: 14px;
  }

  @include tablet {
    --h2-font-size: 29px;
    --h3-font-size: 18px;
    --h4-font-size: 16px;
  }

  @include mobile {
  }

  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  background: var(--second-background);

  .Mui-selected {
    background-color: var(--third-background) !important;
    font-family: var(--regular-font);
    color: var(--second-text-color);
  }
}

.section {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1220px;
  padding: var(--midle-bottom-indent) 60px;
  @include laptop {
    padding: var(--midle-bottom-indent) 20px;
  }

  @include tablet {
    padding: var(--midle-bottom-indent) 10px;
  }

  @include mobile {
    padding: var(--midle-bottom-indent) 8px;
  }
}

.controller-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--second-background);
  // min-width: 130px;
  min-width: 60px;
  min-height: 50px;
  padding: 5px;
  border-radius: var(--common-border-radius);
  border: solid 1px var(--mark-color);
  cursor: pointer;

  @include mobile {
    min-width: 50px;
    min-height: 50px;
  }

  span {
    display: none;
    font-size: var(--h4-font-size);
    font-weight: 700;

    // @include mobile {
    //   display: none;
    // }
  }

  img {
    width: 20px;
    // margin-right: 15px;

    // @include mobile {
    //   margin: 0;
    // }
  }

  &:hover,
  &:active {
    box-shadow: 0px 6px 22px rgba(37, 54, 114, 0.13);
  }
}

.react-link {
  color: var(--first-text-color);
  text-decoration: none;
}
