.authorization-button {
  background: var(--second-background);
  border-radius: var(--common-border-radius);
  padding: 10px var(--small-right-indent);

  font-family: var(--regular-font);
  font-size: var(--h4-font-size);
  font-weight: 700;
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background: var(--third-text-color);
    color: var(--second-text-color);
  }
}

.mobile-button {
  align-self: center;
  background: var(--first-background);
  color: var(--second-text-color);
  padding: 14px var(--midle-right-indent);

  &:hover,
  &:active {
    background: var(--third-text-color);
    color: var(--second-text-color);
  }
}
