@import "../../styles/mixins.scss";

.all-rojects {
  .all-rojects__wrap {
    .all-rojects__rojects {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
      grid-gap: var(--midle-right-indent);

      li > * {
        margin: 0;
      }
    }

    .list-layaut {
      display: grid;
      grid-template-columns: 1fr;
      .all-rojects__roject {
        display: flex;
        justify-content: center;
      }
    }
  }
}
